{% extends "../base.html" %}
{% block title %} Upload {% endblock title %}
{% block page %}
<div class="page">
    {% if message %}
    <div class="err_msg">
        {{ message }}
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="forma">
        {% csrf_token %}
        {% if upload == 'from-youtube' %}
        <input name='url' placeholder="Youtube link">
        <button type="submit">OK</button>
        {% else %}
        {{ form.video }}
        <button type="submit">Upload</button>
        {% endif %}
    </form>
</div>
{% endblock page %}