{% extends "../base.html" %}
{% block title %} Convert {% endblock title %}
{% block page %}
<form method="POST" class="video_page">
    {% csrf_token %}
    <div class="time_inputs">
        <input type="number" placeholder="Start time" name="start" class="time">
        <input type="number" placeholder="End time" name="end" class="time">
    </div>
    <div style="width: 60%;">
        <video controls width="100%" class="video_div">
            <source src="{{ MEDIA_URL }}{{ video.video }}">
            </source>
        </video>
        <div></div>
    </div>
    <div class="buttons">
        <button type="submit" name="to-audio" value="mp3" class="convert">Convert to mp3</button>
        <button type="submit" name="to-audio" value="wav" class="convert">Convert to wav</button>
    </div>
</form>
{% endblock page %}